In [6]:
import great_expectations as ge
my_df = ge.read_csv("population.csv")

In [7]:
my_df.head()

,Unnamed: 0,City,Population,Area (km²),Area (mi²),Density (/km²),Density (/mi²),Country
0,0,Malé,"153,904[1]",1.956[1],0.755,78683,203846.0,Maldives
1,1,Manila,"1,660,714[2]",38.55[3],14.88,43079,111576.0,Philippines
2,2,Bogor,"866,034[4]",21.56[5],8.32,40169,104037.0,Indonesia
3,3,Titagarh,"124,213[6]",3.24[7],1.25,38337,99293.0,India
4,4,Baranagar,"250,768[6]",7.12[7],2.75,35220,91220.0,India

In [14]:
my_df.expect_column_values_to_be_unique('City')

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "result": {
    "element_count": 50,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0,
    "partial_unexpected_list": []
  }
}

In [15]:
my_df.get_expectation_suite()

{
  "meta": {
    "great_expectations_version": "0.16.8"
  },
  "ge_cloud_id": null,
  "expectations": [
    {
      "meta": {},
      "expectation_type": "expect_column_values_to_be_unique",
      "kwargs": {
        "column": "City"
      }
    }
  ],
  "expectation_suite_name": "default",
  "data_asset_type": "Dataset"
}